@{
    ViewData["Title"] = "Om os";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Velkommen til vores restaurant! Vi serverer de bedste pizzaer i byen. Vores passion for kvalitetsingredienser og fantastisk service gør os til det perfekte valg for enhver pizzalover.</p>
</div>
